@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --lk-va-bar-width: 72px;
    --lk-control-bar-height: unset;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.agent-visualizer > .lk-audio-bar {
  width: 72px;
}

.lk-agent-control-bar {
  border-top: 0;
  padding: 0;
  height: min-content;
  margin-right: 1rem;
}

.lk-disconnect-button {
  height: 36px;
}

.lk-disconnect-button:hover {
  background-color: #6b221a;
  color: white;
}

.lk-disconnect-button {
  background-color: #31100c;
  border-color: #6b221a;
}
