@import "tailwindcss";
@import "tw-animate-css";

@media (prefers-color-scheme: dark) {
  :root {
    --lk-va-bar-width: 24px;
    --lk-control-bar-height: unset;
  }
}

.agent-visualizer > .lk-audio-bar {
  width: 24px;
}

.lk-agent-control-bar {
  border-top: 0;
  padding: 0;
  height: min-content;
  margin-right: 1rem;
}

.lk-audio-bar-visualizer {
  padding: 0 !important;
  background-color: black !important;
}