# Core LiveKit libraries used in main.py
livekit==1.0.12
livekit-agents==1.2.2
livekit-plugins-openai==1.2.2
livekit-plugins-silero==1.2.2
livekit-plugins-turn-detector==1.2.2
livekit-plugins-noise-cancellation==0.2.4

# Environment variable management
python-dotenv==1.1.0
pip-system-certs==5.2

# HTTP client for API calls
aiohttp==3.11

#others
tiktoken==0.9.0
babel==2.17.0